# DO NOT COMMIT THIS FILE - IT WILL CONTAIN YOUR SENSITIVE KEYS.
# Instead, rename this file to ".env" instead of ".env.example". (.env will not be committed)

# Create an OpenAI API key at https://platform.openai.com/account/api-keys
OPENAI_API_KEY="sk-123..."

OPENAI_API_KEY="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"

# (optional) Create an OpenAI Assistant at https://platform.openai.com/assistants.
# IMPORTANT! Be sure to enable file search and code interpreter tools.
OPENAI_ASSISTANT_ID="asst_HCFJIpGf9sxZezQRrcA5NSrT"
